
#navText {
	color: #9ab;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
}
#navText:hover {
	color: #edeeee;
}
#navText2 {
	color: #778390;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
}
#navText2:hover {
	color: #edeeee;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #151b22;
	color: #778390;
	font-family: 'Titillium Web', sans-serif;
}


.navbar-nav > li > .dropdown-menu a:hover {
	background-color: #151b22;
}

.inputSearch {
	margin-top: 9px; 
	margin-bottom: 8px;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid grey;
}
input:focus {
	outline: none;
}

