
#navText {
	color: #9ab;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
}
#navText:hover {
	color: #edeeee;
}
#navText2 {
	color: #778390;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
}
#navText2:hover {
	color: #edeeee;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #151b22;
	color: #778390;
	font-family: 'Titillium Web', sans-serif;
}


.navbar-nav > li > .dropdown-menu a:hover {
	background-color: #151b22;
}

.navbar-nav > li > .dropdown-menu a:visited {
	background-color: #151b22;
}
.inputSearch {
	margin-top: 9px; 
	margin-bottom: 8px;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid grey;
}
input:focus {
	outline: none;
}
#log {
	background-color: #00e054;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding-left: 10px;
	padding-right: 13px;
	border-radius: 2px;
}
#log:hover {
	background-color: #006400;
}