<app-header></app-header>
<h1 *ngIf="films?.length === 0" style="font-family: 'Roboto'; font-size: 17px; color: #9ab; margin-left: 5vw;">No films found</h1>
<div style="margin-left: 50px; font-family: 'Roboto'; font-size: 16px; color: #9ab">FOUND {{result[0]}} RESULTS MATCHING "{{result[1]}}"</div>
<div style="height: 1px; width: 40%; background-color: #9ab; margin-left: 46px; margin-top: 8px; margin-bottom: 15px"></div>

<div id="helpDiv">
	<p>SHOW RESULTS FOR</p>
	<div style="height: 1px; width: 100%; background-color: #9ab; margin-bottom: 10px; "></div>
	<p id="selectP" (click)="changeSelected(1)" [ngStyle]="selected === 'film' && {'color': 'white',
				   'padding-left': '5px',
				   'background-color': '#2c3440'}">Films</p>
	<p id="selectP" (click)="changeSelected(2)" [ngStyle]="selected === 'review' && {'color': 'white',
				   'padding-left': '5px',
				   'background-color': '#2c3440'}">Reviews</p>
	<p id="selectP" (click)="changeSelected(3)" [ngStyle]="selected === 'list' && {'color': 'white',
				   'padding-left': '5px',
				   'background-color': '#2c3440'}">Lists</p>
</div>
<div *ngFor="let film of films" >
	<div style="margin-left: 5vw; margin-bottom: 3vw;">
		<img id="filmImg" [src]="film['photo']" alt="">
		<div id="contentId">
			<p id="filmId" [routerLink]="['/films', +film['id']]">{{ film['title'] }} <span style="font-size: 15px">({{film['year']}})</span> 
				<span style="color: #00e054; margin-left: 8px;" *ngIf="film['rating'] !== null"><fa-icon [icon]="star"></fa-icon>{{ film['rating'] }}</span></p>
			<p style="max-width: 60vw; max-height: 30vh; overflow: scroll; color: #9ab">{{ film['description'] }}</p>	
		</div>
	</div>
</div>