#clearBtn {
  padding: 1rem;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 13px;
  padding: .5rem 2rem;
  text-decoration: none;
  color: rgba(0, 224, 84);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(225, 241, 241), rgba(0, 224, 84));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #2e3945 inset;

}
#clearBtn:hover {
  box-shadow: none;
  color: #2e3945;
}
.clearBtn {
	padding-bottom: 13px;
}
#activityDiv {
	background-image:  linear-gradient(to right, rgba(225, 241, 241), rgba(0, 224, 84)); 
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px; 
	padding-bottom: 1px; 
	text-transform: uppercase;
	margin-bottom: 10px
}

#activityP {
	background-color: #2e3945; 
	margin-bottom: 0px; 
	padding:5px
}

#activityA {
	/*text-decoration: ;*/
	font-weight: 1000;
}

#activityA: active {
	color: white;
}

#dateSpan {
	float: right;
	color:#F4FBF3
}
@media only screen and (max-width: 700px) {
  #dateSpan {
	visibility: hidden;
  }
}