#activityDiv {
	background-image:  linear-gradient(to right, #E1F1F1, #00E054); 
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px; 
	padding-bottom: 2px; 
	text-transform: uppercase;
	margin-bottom: 10px
}

#activityP {
	background-color: #2e3945; 
	margin-bottom: 0px; 
	padding:5px
}

#activityA {
	/*text-decoration: ;*/
	font-weight: 1000;
}

#activityA: active {
	color: white;
}

#dateSpan {
	float: right;
	color:#F4FBF3
}
@media only screen and (max-width: 700px) {
  #dateSpan {
	visibility: hidden;
  }
}