<div *ngIf="recentFilms">
	<div style="display: inline-block; width: 96%">
		<h1 style="display: inline-block; font-family: 'Roboto', sans-serif; color: #9ab; font-size: 15px; text-transform: uppercase;">Recent activity</h1>
		<h1 style="display: inline-block;font-family: 'Roboto', sans-serif; color: #9ab; font-size: 15px; text-transform: uppercase; float: right; " (click)="changeFilmOverflow()">All</h1>

	</div>
<div style="width: 96%; background-color: rgb(153,170,187, 0.4); height: 1px; margin-bottom: 12px;"></div>
<div [ngStyle]="!all && {
					'height': '230px',
					'overflow': 'hidden'}" >
	
<ul *ngFor="let film of recentFilms">
	<li style="display: inline; margin-right: 17px; overflow-x: hidden;">
		<img id="filmImage" style="border-radius: 1px; " src="{{film['photo']}}" width="150" height="225" alt="" routerLink="/films/{{film['id']}}">
		<div class="desc" *ngIf="showTab">
			<div style="color: green; ">
				<fa-icon *ngIf="film['film_id']" style="padding-right: 4px; color: green" [icon]="eyeIcon" (click)="filmToWatched(film['id'], false, film['title'])"></fa-icon>
				<fa-icon *ngIf="!film['film_id']" style="padding-right: 4px; color: #9ab" [icon]="eyeIcon" (click)="filmToWatched(film['id'], true, film['title'])"></fa-icon>

				<fa-icon *ngIf="film['liked']" style="padding-right: 4px; color: red" (click)="filmToLiked(film['id'], false, film['title'])" [icon]="likeIcon2"></fa-icon> 
				<fa-icon *ngIf="!film['liked']" style="padding-right: 4px; color: #9ab" (click)="filmToLiked(film['id'], true, film['title'])" [icon]="likeIcon"></fa-icon> 
<!-- film['watchlisted'] -->
				<fa-icon *ngIf="film['watchlisted']" style="padding-right: 4px; color: #00A1E7" (click)="filmToWatchlist(film['id'], false, film['title'])"  [icon]="watchlistIcon2"></fa-icon> 
				<fa-icon *ngIf="!film['watchlisted']" (click)="filmToWatchlist(film['id'], true, film['title'])" style="padding-right: 4px; color: #9ab"   [icon]="watchlistIcon"></fa-icon> 

			</div>
			
		</div>
	</li>
	
</ul>
</div>

</div>

<h1 style="clear:both;font-family: 'Roboto', sans-serif; color: #9ab; font-size: 15px;text-transform: uppercase;">Recent reviews</h1>
<div style="width: 96%; background-color: rgb(153,170,187, 0.4); height: 1px; margin-bottom: 12px;"></div>
<app-reviews></app-reviews>