
<div> 
  <nav class="navbar navbar-inverse" style="width:60vw;
  margin-left: 70px; font-size: 13px; ">
    <div class="container-fluid" style="background-color: #151b22"> 
    <div  style="">
      <div  class="navbar-header" >
        <a id="navText2" class="navbar-brand" style="font-size: 14px;" href="#">BROWSE BY</a>
      </div>
      <ul class="nav navbar-nav">
        <li  class="dropdown" appDropdown>
          <a id="navText2" href="#" class="dropdown-toggle" role="button">YEAR <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'2020'}" href="#">2020's</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'2010'}" href="#">2010's</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'2000'}" href="#">2000's</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'1990'}" href="#">1990's</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a id="navText2" href="#" class="dropdown-toggle" role="button">RATING <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" href="#">Highest</a></li>
            <li><a id="navText2" href="#">Lowest</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a  id="navText2" href="#" class="dropdown-toggle" role="button">POPULAR <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" href="#">All time</a></li>
            <li><a id="navText2" href="#">This year</a></li>
            <li><a id="navText2" href="#">This week</a></li>
            <li><a id="navText2" href="#">This month</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a id="navText2" href="#" class="dropdown-toggle" role="button">GENRE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" href="#">Action</a></li>
            <li><a id="navText2" href="#">Documentary</a></li>
            <li><a id="navText2" href="#">Horror</a></li>
            <li><a id="navText2" href="#">Drama</a></li>
          </ul>
        </li>
      </ul> 
    </div>              
    </div>
  </nav>
</div>
	
<div *ngFor="let film of films; " style="width: 100%; table-layout: fixed; font-size: 2vw;"> 
    <div class="filmColumn" >
        <p class="tooltip1">{{film.title}}</p>
        <img  class="filmImage" src="{{film.photo}}" alt="Snow" style="width:100%">
        <span class="tooltip1">
          <div style="display: inline; font-size: 20px; padding-right: 10px; color: white;">
            <fa-icon (click)="addToWatched(film.id)" [icon]="eyeIcon"></fa-icon> 
          </div>
          <div  style="display: inline; font-size: 20px; color: white;">
            <fa-icon (click)="addToLiked(film.id)" [icon]="heartIcon"></fa-icon>
          </div>
        </span>

    </div>
  </div>