<app-header></app-header>
<div> 
  <nav class="navbar navbar-inverse" style="width:60vw;
  margin-left: 70px; font-size: 13px; ">
    <div class="container-fluid" style="background-color: #151b22"> 
    <div  style="">
      <div  class="navbar-header" >
        <a id="navText2" class="navbar-brand" style="font-size: 14px;" [routerLink]="">BROWSE BY</a>
      </div>
      <ul class="nav navbar-nav">
        <li  class="dropdown" appDropdown>
          <a id="navText2" href="#" class="dropdown-toggle" role="button">YEAR <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'2020'}" href="#">2020's</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'2010'}" href="#">2010's</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'2000'}" href="#">2000's</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{year:'1990'}" href="#">1990's</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a id="navText2" href="#" class="dropdown-toggle" role="button">RATING <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  id="navText2" [routerLink]="['/home']" [queryParams]="{rating:'DESC'}">Highest</a></li>
            <li><a id="navText2" [routerLink]="['/home']" [queryParams]="{rating:'ASC'}">Lowest</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a  id="navText2" href="#" class="dropdown-toggle" role="button">POPULAR <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" href="#">All time</a></li>
            <li><a id="navText2" href="#">This year</a></li>
            <li><a id="navText2" href="#">This week</a></li>
            <li><a id="navText2" href="#">This month</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a id="navText2" href="#" class="dropdown-toggle" role="button">GENRE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="navText2" href="#">Action</a></li>
            <li><a id="navText2" href="#">Documentary</a></li>
            <li><a id="navText2" href="#">Horror</a></li>
            <li><a id="navText2" href="#">Drama</a></li>
          </ul>
        </li>
      </ul> 
    </div>              
    </div>
  </nav>
</div>

<ul *ngFor="let film of films; " style="" id="filmsUl">
  <li style="display: inline; margin-right: 17px; overflow-x: hidden; "><!-- 
    <img id="filmImage" style="border-radius: 1px; " src="{{film['photo']}}" width="100" height="150" alt="" (click)="toFilm(film['id'])"> -->
    <div class="desc2">
      {{film['title']}} 
      <span style="color: #00e054" *ngIf="film['average']">{{ +film['average'] }}  <fa-icon [icon]="starIcon"></fa-icon> </span>
    </div>
    <img  class="filmImage" src="{{film['photo']}}" alt="Snow"  (click)="goToFilm(film['id'])" >
    <div class="desc">
      <div >
          <div style="display: inline; font-size: 20px; padding-right: 10px; color: white;" *ngIf="!film['watched']">
            <fa-icon (click)="addToWatched(film['id'])" [icon]="eyeIcon"></fa-icon> 
          </div>
          <div style="display: inline; font-size: 20px; padding-right: 10px; color: green;" *ngIf="film['watched']">
            <fa-icon (click)="deleteFromWatched(film['id'])" [icon]="eyeIcon"></fa-icon> 
          </div>
          <div  style="display: inline; font-size: 20px; color: white; padding-right: 10px;" *ngIf="!film['liked']">
            <fa-icon (click)="addToLiked(film['id'])" [icon]="heartIcon"></fa-icon>
          </div>
          <div  style="display: inline; font-size: 20px; color: red; padding-right: 10px;" *ngIf="film['liked']">
            <fa-icon (click)="deleteFromLiked(film['id'])" [icon]="heartIcon"></fa-icon>
          </div>
          <div  style="display: inline; font-size: 20px; color: white;" *ngIf="!film['watchlist']">
            <fa-icon (click)="addToWatchlist(film['id'])" [icon]="clockIcon"></fa-icon>
          </div>
          <div  style="display: inline; font-size: 20px; color: #00A1E7;" *ngIf="film['watchlist']">
            <fa-icon (click)="deleteFromWatchlist(film['id'])" [icon]="clockIcon"></fa-icon>
          </div>
      </div>
      
    </div>
  </li>
  
</ul>
