<div *ngIf="watchlistFilms">
<ul *ngFor="let film of watchlistFilms" >
	<li  style="display: inline; margin-right: 17px; overflow-x: hidden;">
		<img id="filmImage" style="border-radius: 1px; " src="{{film['photo']}}" width="100" height="150" alt="" (click)="toFilm(film['id'])">
		<div class="desc" *ngIf="showTab">
			<div >

				<fa-icon *ngIf="film['film_id']" style="padding-right: 4px; color: green" [icon]="eyeIcon" (click)="filmToWatched(film['id'], false, film['title'])"></fa-icon>
				<fa-icon *ngIf="!film['film_id']" style="padding-right: 4px; color: #9ab" [icon]="eyeIcon" (click)="filmToWatched(film['id'], true, film['title'])"></fa-icon>


				<fa-icon *ngIf="film['liked']" style="padding-right: 4px; color: red" (click)="filmToLiked(film['id'], false, film['title'])" [icon]="likeIcon2"></fa-icon> 
				<fa-icon *ngIf="!film['liked']" style="padding-right: 4px; color: #9ab" (click)="filmToLiked(film['id'], true, film['title'])" [icon]="likeIcon"></fa-icon> 

				<fa-icon  style="padding-right: 4px; color: #00A1E7" (click)="deleteFromWatchlist(film['id'], film['title'])"  [icon]="watchlistIcon2"></fa-icon> 

			</div>
			
		</div>
	</li>
	
</ul>
</div>