#filmImage:hover {
	border: 1px solid #00e054;
}

ul {
	
	padding:0;
	margin:0;
}
li {
	position:relative; 
	float:left; 
	display:inline;
	list-style-type:none;
	margin-bottom:10px; 
}
li .desc {
	display: none;
}
/*:hover*/
li:hover .desc {
	display: block;
	position:absolute; /* Important */
	width:85%; 
	bottom:0; 
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
	margin-left: 7px;
	margin-bottom: 7px;
	border-radius: 2px;
	
}

