<app-header></app-header>
<div style="width: 100%; text-align: center; font-size: 28px; color: #9ab; font-family: 'Roboto'; margin-bottom: 15px">
	Film lovers, critics and friends — find popular contributors here.

</div>
<div style="width: 80%; height: 1px; background-color: rgb(153,170,187, 0.4); margin-left: 10vw; margin-bottom: 20px">
	
</div>
<div style="width: 100%; ">
	<div *ngFor="let top of top4" style="display: inline-block; padding-left: 10vw">
	<div >
		<img id="pplImg" width="150" height="150" src="{{top[1]}}" alt="" routerLink="/user/{{top[0]['id']}}">
	</div>
	
	<div id="pplName" routerLink="/user/{{top[0]['id']}}">{{top[0]['username']}}</div>
	<div id="descrId"><span routerLink="/user/{{top[0]['id']}}/films" id="filmId">{{top[0]['watchedCount']}} films </span> <span routerLink="/user/{{top[0]['id']}}/reviews" id="filmId">{{top[0]['reviewCount']}} reviews</span></div>
		<div style="display: inline-block;" *ngFor="let film of top[0]['films']">
			<img width="50" height="75" src="{{film['photo']}}" id="imgId" routerLink="/films/{{film['id']}}">
		</div>
	
	</div>

</div>
<div style="margin-top: 10vh; margin-left: 10vw; ">
	<!-- <div *ngFor="let user of people" >
		<div style="display: inline-block;">
			<span >{{user['username']}}</span>
			{{user['watchedCount']}}
			{{user['listCount']}}
			{{user['likeCount']}}

		</div>
	</div>	 -->
	<table style="width: 70%">
				<thead >
					<tr>
						<th style="width: 30%"></th>
						<th style="width: 20%"></th>
						<th style="width: 20%"></th>
						<th style="width: 20%"></th>
						<th style="width: 10%"></th>
					</tr>
				</thead>
				<tbody  *ngFor="let user of people">
					<tr style="border-bottom: 1px solid rgb(153,170,187, 0.2); ">
						<td style="color: white; font-family: 'Titillium Web'; font-size: 16px">

							<div style="line-height: 30px">

								<span routerLink="/user/{{user['id']}}" id="usId">
							{{user['username']}}</span>
							</div>

						<div id="reviewId">
							<span  routerLink="/user/{{user['id']}}/reviews">
								{{user['reviewCount']}} <span *ngIf="user['reviewCount'] === '1'">review</span><span *ngIf="user['reviewCount'] !== '1'">reviews</span>
							</span>
						</div>
					    </td>
						<td routerLink="/user/{{user['id']}}/films"> 
							<span id="detId">
							<fa-icon style="color: #00e054; margin-right: 5px" [icon]="eyeIcon" ></fa-icon>{{user['watchedCount']}}
							</span>
						</td>
						<td routerLink="/user/{{user['id']}}/own-lists">
							<span  id="detId" >
							<fa-icon style="margin-right: 5px; color: #00A1E7" [icon]="listIcon"></fa-icon>
							{{user['listCount']}}
							</span>
					</td>
						<td routerLink="/user/{{user['id']}}/liked" >
							<span id="detId">
							<fa-icon style="margin-right: 5px; color: #ffc55c" [icon]="likeIcon"></fa-icon>
							{{user['likeCount']}}
						</span>
					</td>
					<td style="font-size: 30px" *ngIf="loggedIn">
						<fa-icon *ngIf="!user['followed']" id="plusIcon" (click)="follow(user['id'])" [icon]="plusIcon"></fa-icon>	

						<fa-icon  *ngIf="user['followed']" id="checkIcon" (click)="unfollow(user['id'])" [icon]="checkIcon"></fa-icon>	
					</td>
					</tr>
				</tbody>
			</table>
</div>
