/*div {
	padding-left: 50px;

}*/
#mainUserDiv {
	padding-left: 100px; 
	padding-right: 100px; 
	position: absolute;
}
#userImg {
	float: left; 
	margin: 30px; 
	border-radius: 50%; 
	border: 1px ;
	background-image:  linear-gradient(to right, #E1F1FF , #00E054);
	padding: 3px;
}

#nameDiv, #activityDiv {
	padding: 30px; 
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
}
#activityDiv {
	display: inline-block;
	float: right;
}

#username {
	font-size: 22px;
}
#btnEdit {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #c8d4e0;
	font-size: 13px;
	background-color: #567;
	border: 0;
	border-radius: 5px;
	padding: 5px;
}
button: focus {
	outline: none;
	background-color: black;
}
#num {
	margin: 0;
	font-size: 35px;
	color: #9ab ;
}
.active {
	color: white;
}
#numText {
	color: #9ab ;
}
.navbar-brand {
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	margin-right: 10px;
	margin-left: 10px;
	/*background-color: #2e3945;*/
}
.navbar-brand:hover {
	background-color: grey;
}

@media only screen and (max-width: 770px) {
	#activityDiv2 {
		display: none;
	}
}
@media only screen and (max-width: 560px) {
	#mainUserDiv {
		padding-left: 50px;
	}

}
