<app-header></app-header>

<div style="padding-left: 100px; padding-right: 100px; position: absolute">
  <div id="userImgWrap">
	 <img  style="display: inline-block;"  width="120" height="120" id="userImg" src="https://i0.wp.com/letterboxd.com/static/img/avatar220.486f8632.png?ssl=1" alt="">
  </div>
	<div style="display: inline-block;" id="nameDiv">
		<p id="username">{{ username }}</p>
		<button id="btnEdit">Edit profile</button>
	</div>
	<div id="activityDiv">
		<div style="display: inline-block; border-right: 1px solid grey; padding-right: 7px;">
			<p id="num">{{numberOfFilms}}</p>
			<p id="numText">Films</p>
		</div>
		<div  style="display: inline-block;border-right: 1px solid grey; padding-left: 7px;  padding-right: 7px">
			<p id="num">5</p>
			<p id="numText">This year</p>
		</div>
		<div  style="display: inline-block; padding-left: 7px">
			<p id="num">5</p>
			<p id="numText">Lists</p>
		</div>
	</div>

<div id="activityDiv2" style=" clear: both;"> 
  <nav class="navbar navbar-inverse" style="width:80vw; font-size: 13px; border: 1px solid grey;">
    <div class="container-fluid" style="background-color: #151b22; background-color: #2e3945; "> 
      <div  class="navbar-header" >
        <a class="navbar-brand" style="font-size: 14px;" routerLinkActive="active" href="#">profile</a>
      </div>
      <div class="navbar-header" >
        <a  class="navbar-brand" style="font-size: 14px;" routerLink="activity" routerLinkActive="active">activity</a>
      </div>
      <div  class="navbar-header" >
        <a  class="navbar-brand" routerLinkActive="active" style="font-size: 14px;" routerLink="films">films</a>
      </div> 
      <div  class="navbar-header" >
        <a  class="navbar-brand" routerLinkActive="active" style="font-size: 14px;" href="#">diary</a>
      </div>       
      <div  class="navbar-header" >
        <a  class="navbar-brand" routerLinkActive="active" style="font-size: 14px;" href="#">reviews</a>
      </div>       
      <div  class="navbar-header" >
        <a  class="navbar-brand" routerLinkActive="active" style="font-size: 14px;" href="#">watchlist</a>
      </div> 
      <div  class="navbar-header" >
        <a  class="navbar-brand" routerLinkActive="active" style="font-size: 14px;" href="#">lists</a>
      </div> 
      <div  class="navbar-header" >
        <a  class="navbar-brand" routerLinkActive="active" style="font-size: 14px;" href="#">likes</a>
      </div> 
    </div>
  </nav>
</div>
  <router-outlet></router-outlet>

</div>
