<div class="backdrop" [@savedState]="savedState" (click)="onClose()"></div>
<div *ngIf="secondTabHidden" [@searchState] class="alert-box" >	
	<div class="form-group">
    	<label for="username">Film Title</label>
    	<input 
    		type="text" 
			id="filtTitle"
			class="form-control"
			ngModel 
			name="username"
			required
			[formControl]="filmTitle"
    	/>
    </div>
  <div *ngIf="!isHidden">
	<ul id="myUL" style="height: 20vw; overflow-y: scroll;">
  		<li *ngFor="let film of films" style="clear: both;" class="filter-select-list"  (click)="addFilm(film)">	
  			<img style="float: left;margin-bottom: 20px;" src="{{ film.photo }}" alt="" width="50" height="75">
  			<p id="searchTitle" style="float: left; ">{{ film.title }}</p>
  		</li>
  	</ul>
 </div>
  <div class="alert-box-actions">
    <button class="btn btn-success" (click)="onClose()">Close</button>
  </div>

</div>
<div *ngIf="!secondTabHidden" [@savedState]="savedState" class="alert-box2" style="overflow: auto;">
	<span *ngIf="filmWatchedAlert" class="help-block" style=" padding: 8px 0 8px 8px; color: rgb(255,211,0); border: 1px solid rgb(255,211,0)">
	{{filmWatchedAlert}}
  	</span>
	<img style="display: block; float: left;" class="currentFilm" width="100" height="150" 
	src="{{currentFilm.photo}}" 
	alt="">
	<div style=" display: inline-block;">
		<p id="watchedFilm2">I watched...</p>
		<p id="watchedFilm">
		{{ currentFilm.title }} ({{ currentFilm.year }})
		</p>
		<p><input 
			style="width: 150px" 
			type="date" 
			id="start" 
			name="dateWatched" 
			value="{{ date | date:'yyyy-MM-dd'}}"
			ngModel
			[formControl]="filmDate"></p>
		<textarea 
			style="resize: none" 
			name="review" 
			cols="40" 
			rows="8"
			ngModel
			[formControl]="filmReview"></textarea>
		<p id="watchedFilm2">Rating {{ rating }} out of 5</p>

		<div (click)="changeStarIcon(1)" id="starIcon"><fa-icon style="color: green;" [icon]="starIcon"></fa-icon></div>
		<div (click)="changeStarIcon(2)" id="starIcon"><fa-icon style="color: green;" [icon]="starIcon2"></fa-icon></div>
		<div (click)="changeStarIcon(3)" id="starIcon"><fa-icon style="color: green;" [icon]="starIcon3"></fa-icon></div>
		<div (click)="changeStarIcon(4)" id="starIcon"><fa-icon style="color: green;" [icon]="starIcon4"></fa-icon></div>
		<div (click)="changeStarIcon(5)" id="starIcon"><fa-icon style="color: green;" [icon]="starIcon5"></fa-icon></div>
		<p id="watchedFilm2">Like</p>
		<a (click)="changeHeartIcon()"><fa-icon style="color: red;"  id="starIcon" [icon]="heartIcon"></fa-icon></a>

		<button style="float: right" id="saveBtn" (click)="saveReview(currentFilm.id)">Save</button>
		<!-- <p><input type="checkbox"></p> -->

		<!-- <label>Specify the date you watched it
		  <input type="checkbox">
		</label> -->
	</div>
	<button style="display: block; " (click)="goBack()" id="backBtn">Back</button>
</div>