<div *ngFor="let review of reviews">
	
	<div style="display: inline-block; padding: 15px;">
		<img id="filmImage" width="100" height="150" src="{{ review['photo'] }}" alt="">
		<div style="display: inline-block;    vertical-align:top; margin-left: 20px;">
			<span id="titleSpan" [routerLink]="['/films', review['film_id']]"><a id="titleA" >{{ review['title'] }}</a></span>
			<span style="margin-left: 7px; color: #9ab; font-family: 'Roboto'; font-size: 20px">{{ review['year']}}</span>
			<div  style="color: #9ab;font-family: 'Roboto'; font-size: 14px;">
				<span *ngFor="let r of toArr(+review['rating'])" style="color: #00e054; padding-right: 3px; ">
					<fa-icon [icon]="starIcon"></fa-icon>
				</span>
				<span>Added {{ review['date'] | date: 'dd MMM, yyyy' }}</span>
			</div>
			<div style="color: #9ab; font-size: 15px;width: 60vw; height: 30vh;overflow:scroll;">{{ review['text'] }}</div>
		</div>
			
	</div>
</div>