#icon {
	color: #9ab;
	font-size: 40px;
	margin: 10px;
}
#icon2 {
	color: #9ab;
	font-size: 30px;
	margin: 1px;
}
a {
	text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  left: 30vw;
  width: 34vw;
  height: 28vw;
  padding: 16px;
  z-index: 100;
  background-color: #151b22;
  color: #778390;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}
.alert-box {
  top: 30vh;
}
/*.alert-box2 {
  top: 19vh;
  bottom: 10vh;
}*/
textarea {
  background-color: #cde;
  width: 30vw;
  height: 16vw;
  padding-top: 0;
  padding-left: 0;

}

.alert-box-actions {
  text-align: right;
}

#log {
	color: #9ab;
	/*background-color: #00e054;*/
	/*font-family: 'Montserrat', sans-serif;*/
	/*text-transform: uppercase;*/
	/*margin: 0;
	padding-left: 10px;
	padding-right: 13px;
	border-radius*/: 2px;
}
#log:hover {
	color: #fff;
}
#saveBtn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  margin: 0;
  margin-top: 10px;
  padding: 5px 13px 5px 10px;
  border-radius: 2px;
}
#saveBtn {
  background-color: #00e054;
}

#reviews {
  clear: both;
  color: #9ab;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 100px;
  /*margin-top: 200px;*/
  /*margin: 140px 0 20px 40px;*/

}

#review {
	font-size: 17px;
	width: 80vw; 
	height: 10vw; 
	overflow:scroll;
}

#addition {
	display: inline-block;
	
}

@media only screen and (min-width: 1200px) {
  #addition {
    float: right; 
	/*position: relative; */
	display: inline-block;
	font-family: 'Titillium Web', 
	sans-serif;  font-size: 20px; 
	margin-right: 80px; 
	margin-top: 140px; 
	background-color: #456; 
	padding: 20px; 

	border-radius: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  #addition {
    /*float: right; */
	/*position: relative; */
	font-family: 'Titillium Web', 
	sans-serif;  font-size: 20px; 
	/*margin-right: 80px; */
	/*margin-top: 140px; */
	background-color: #456; 
	width: 60vw;
	margin-left: 25vw;
	/*padding: 20px; */
	border-radius: 5px;
  }
}