<app-header></app-header>
<div class="backdrop" [@initState2]="initState" (click)="onClose()"></div>
<div  [@initState]="initState" class="alert-box" >
	<p>Enter review</p>
	<textarea 
			style="resize: none" 
			name="review" 
			spellcheck="false" 
			ngModel 
			[formControl]="filmReview"></textarea>

	<button id="deleteBtn" (click)="deleteReview()">Delete</button> 			

	<button id="saveBtn" (click)="saveFilmReview()">Save</button>
</div>

<div id="mainDiv" style="display: inline-block;">
	<img id="filmImg" src="{{ film?.photo }}" alt="" width="250" height="375" >
	<div style="display: inline-block;">
		<div style="display: inline-block; font-family: 'Titillium Web', sans-serif;  font-size: 20px; margin-left: 10px">
			<h1 style="color: white; font-family: 'Libre Baskerville';">{{ film?.title }}  <span style="color: #00e054; font-family: 'Titillium Web';"> {{ mainRatingNum }} </span> <fa-icon style="color: #00e054;" [icon]="star"></fa-icon></h1>
			<p style="color: #9ab;">{{ film?.year }}</p>
			<p id="filmDescr">{{ film?.description }}</p>
		</div>

	</div>
</div>
<div id="addition" style="">
	<div id="iconAndBtn">
		<fa-icon id="icon" [ngStyle]="watched && {'color':'#00e054'}" [icon]="eyeIcon" (click)="toWatched()"></fa-icon>
		<fa-icon id="icon" [ngStyle]="liked && {'color': 'red'}" [icon]="likeIcon" (click)="toLiked()"></fa-icon>
		<fa-icon id="icon" [ngStyle]="later && {'color': 'blue'}" [icon]="watchIcon" (click)="toLater()"></fa-icon>
	</div>
	<div id="line"></div>
	<div id="iconAndBtn">
		<fa-icon id="icon2" [icon]="starIcon1" [ngStyle]="rating >= 1 && {'color':'#00e054'}" (click)="changeRating(1)"></fa-icon>
		<fa-icon id="icon2" [icon]="starIcon2" [ngStyle]="rating >=2 && {'color':'#00e054'}" (click)="changeRating(2)"></fa-icon>
		<fa-icon id="icon2" [icon]="starIcon3" [ngStyle]="rating >= 3 && {'color' : '#00e054'}" (click)="changeRating(3)"></fa-icon>
		<fa-icon id="icon2" [icon]="starIcon4" [ngStyle]="rating >= 4 && {'color' : '#00e054'}" (click)="changeRating(4)"></fa-icon>
		<fa-icon id="icon2" [icon]="starIcon5" [ngStyle]="rating == 5 && {'color' : '#00e054'}" (click)="changeRating(5)"></fa-icon>
	</div>
	<div id="line"></div>
	<div id="iconAndBtn">
		<a ><p id="addReviewBtn" (click)="addReview()">Add or delete a review</p></a>
		
	</div>
	<div id="line"></div>
	<div id="iconAndBtn">
		<a href="" style="color: #9ab;">Add to a list</a>
		
	</div>
</div>
<div *ngIf="spinnerIsLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!spinnerIsLoading" id="reviews">

	<h1 style="font-size: 20px;text-transform: uppercase; color: white">Reviews</h1>
	<div style="padding-left: 10px" *ngFor="let review of filmReviews">
		<div style="width: 40vw; height: 1px; background-color: grey; margin-top: 20px;margin-bottom: 20px;"></div>
		<p style="font-style: italic;">Review by 
			<span style="font-weight: 900; font-size: 17px; color: white">{{ review['username'] }}</span> added on <span style="font-weight: 900; font-size: 12px; color: white">{{ review['date'] }}</span></p>
		<p id="review">{{ review['text'] }}</p>
	</div>
</div>

