#icon {
	color: #9ab;
	font-size: 40px;
	margin: 10px;
}
#icon2 {
	color: #9ab;
	font-size: 30px;
	margin: 1px;
}
a {
	text-decoration: none;
}
#userId {
  font-weight: 900; font-size: 17px; color: white;
}
#userId:hover {
  color: #00e054;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  left: 20vw;
  top: 20vh;

  width: 60vw;
  /*height: 35vw;*/
  height: 30vmax;
  padding: 16px;
  z-index: 100;
  background-color: #151b22;
  color: #778390;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

/*.alert-box2 {
  top: 19vh;
  bottom: 10vh;
}*/
textarea {
  background-color: #cde;
  width: 55vw;
  height: 20vw;
  padding-top: 0;
  padding-left: 0;

}

.alert-box-actions {
  text-align: right;
}

#addReviewBtn {
	color: #9ab;
	/*background-color: #00e054;*/
	/*font-family: 'Montserrat', sans-serif;*/
	/*text-transform: uppercase;*/
	/*margin: 0;
	padding-left: 10px;
	padding-right: 13px;
	border-radius: 2px;*/
}
#addReviewBtn:hover {
	color: #fff;
}
#saveBtn, #deleteBtn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  margin: 0;
  margin-top: 10px;
  padding: 5px 13px 5px 10px;
  border-radius: 2px;
  background-color: #00e054;
  float: right
}
#deleteBtn {
  margin-left: 15px;
  background-color: #d10;
}
#reviews {
  clear: both;
  color: #9ab;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 100px;
  /*margin-top: 200px;*/
  /*margin: 140px 0 20px 40px;*/
  margin-bottom: 20px;
}

#review {
	font-size: 17px;
	width: 80vw; 
	/*height: 10vw;*/
	max-height: 10vw; 
	overflow:scroll;
}

#addition {
	display: inline-block;
	
}

#iconAndBtn {
	text-align: center;
}

#line {
	height: 1px; 
  	background-color: #9ab; 
  	margin: 5px;
  	margin-left: 2vw;
}

#filmDescr {
	color: #9ab; 
	width: 45vw; 
	max-height: 30vw;  
	overflow:scroll;
}

#filmImg {
	display: inline-block;
	border-radius: 5px; 
	vertical-align: 
	top; margin: 40px;
}

@media only screen and (min-width: 1200px) {
  #addition {
    float: right; 
	/*position: relative; */
	display: inline-block;
	font-family: 'Titillium Web', 
	sans-serif;  
	font-size: 20px; 
	margin-right: 80px; 
	margin-top: 140px; 
	background-color: #456; 
	padding: 20px; 

	border-radius: 5px;
  }
  #line {
  	width: 180px;
  }
}
#scndAlertBox {
  height: 130px;
  width: 50vw;
}
@media only screen and (max-width: 1210px) {
  #addition {
    /*float: right; */
	/*position: relative; */
	font-family: 'Titillium Web', 
	sans-serif;  font-size: 20px; 
	/*margin-right: 80px; */
	/*margin-top: 140px; */
	background-color: #456; 
	width: 40vw;
	margin-left: 30vw;
	/*padding: 20px; */
	border-radius: 5px;
  }
  #line {
  	width: 35vw;
  }
  #iconAndBtn {
	padding: 10px;
	text-transform: uppercase;
  }
  #filmDescr {
  	width: 65vw; 
  }
}
@media only screen and (max-width: 1000px) {
  #mainDiv {
  	margin-left: 20%;
  	margin-bottom: 20px;
  }
  #filmImg {
  	margin-left: 17%;
  }
}
@media only screen and (max-width: 500px) {
  #filmImg {
  	margin-left: 10%;
  }
  #scndAlertBox {
    height: 180px;
  }
}